<!-- removing this feature
<div>
  <% @text_posts.each do |textpost| %>
    <%= div_for textpost do %>
      <%= content_tag :p, textpost.title %>
      <p>
        <span class='likes pull-left'>
          <%= textpost.likes.count %> likes
        </span>

            <%= form_for Like.new do |f| %>
        <%= f.hidden_field :likeable_type, :value => textpost.class %>
        <%= f.hidden_field :likeable_id, :value => textpost.id %>
               <%= f.hidden_field :user_id, :value => current_user.id %>
               <%= f.submit "Like" %>
              <% end %>
        <%= link_to "Show", textpost %>
      </p>
    <% end %>
  <% end %>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "New TextPost", new_text_post_path %></li>
    </ul>
  </nav>
</div> -->