<% @image_links.each do |image_link| %>
<%= content_tag :p, image_link.title, class: "strong" %>
  <%= content_tag :p, image_link.url %>
<% end %>


<!-- New Like Form Code -->

<% @image_links.each do |image_link| %>
<%= div_for image_link do %>
  <h2><%= image_link.title %></h2>
  <%= image_tag image_link.url, :class => 'image-link-image thumbnail' %>

  <div class='likes pull-left'>
    <span class='total-likes'><%= image_link.likes.count %></span> likes
    </div>


<%= form_for Like.new, :remote => true do |f| %>
    <%= f.hidden_field :likeable_type, :value => image_link.class %>
    <%= f.hidden_field :likeable_id, :value => image_link.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Like", :class => 'like-button' %>
    <% end %>

  <% end %>

  <% end %>

<!-- End New Like Form Code -->

<nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "New ImageLink", new_image_link_path %></li>
    </ul>
</nav>